<section class="employeeForm">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="form-wrapper">
      <label for="firstName">Ime</label>
      <input
        id="firstName"
        type="text"
        formControlName="firstName"
        placeholder="John"
        [class.invalid]="
          firstName?.invalid && (firstName?.dirty || firstName?.touched)
        "
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e8eaed"
      >
        <path
          d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"
        />
      </svg>
      <span class="error" *ngIf="firstName?.touched || firstName?.dirty">
        <ng-container *ngIf="firstName?.hasError('required')">
          Ovo polje je potrebno!
        </ng-container>
        <ng-container *ngIf="firstName?.hasError('minlength')">
          Ime mora imati najmanje 2 znaka!
        </ng-container>
      </span>
    </div>
    <div class="form-wrapper">
      <label for="lastName">Prezime</label>
      <input
        id="lastName"
        type="text"
        formControlName="lastName"
        placeholder="Doe"
        [class.invalid]="
          lastName?.invalid && (lastName?.dirty || lastName?.touched)
        "
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e8eaed"
      >
        <path
          d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"
        />
      </svg>
      <span class="error" *ngIf="lastName?.touched || lastName?.dirty">
        <ng-container *ngIf="lastName?.hasError('required')">
          Ovo polje je potrebno!
        </ng-container>
        <ng-container *ngIf="lastName?.hasError('minlength')">
          Prezime mora imati najmanje 2 znaka!
        </ng-container>
      </span>
    </div>
    <div class="form-wrapper">
      <label for="dateOfBirth">Datum rođenja</label>
      <input
        id="dateOfBirth"
        type="text"
        formControlName="dateOfBirth"
        placeholder="DD/MM/YYYY"
        [class.invalid]="
          dateOfBirth?.invalid && (dateOfBirth?.dirty || dateOfBirth?.touched)
        "
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e8eaed"
      >
        <path
          d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"
        />
      </svg>
      <span class="error" *ngIf="dateOfBirth?.touched || dateOfBirth?.dirty">
        <ng-container *ngIf="dateOfBirth?.hasError('required')">
          Ovo polje je potrebno!
        </ng-container>
        <ng-container *ngIf="dateOfBirth?.hasError('minlength')">
          Datum mora biti u točnom formatu!
        </ng-container>
      </span>
    </div>
    <div class="form-wrapper">
      <label for="jobTitle">Pozicija</label>
      <input
        id="jobTitle"
        type="text"
        formControlName="jobTitle"
        placeholder="QA"
        [class.invalid]="
          jobTitle?.invalid && (jobTitle?.dirty || jobTitle?.touched)
        "
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e8eaed"
      >
        <path
          d="M160-120q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v440q0 33-23.5 56.5T800-120H160Zm0-80h640v-440H160v440Zm240-520h160v-80H400v80ZM160-200v-440 440Z"
        />
      </svg>
      <span class="error" *ngIf="jobTitle?.touched || jobTitle?.dirty">
        <ng-container *ngIf="jobTitle?.hasError('required')">
          Ovo polje je potrebno!
        </ng-container>
        <ng-container *ngIf="jobTitle?.hasError('minlength')">
          Pozicija mora imati najmanje 2 znaka!
        </ng-container>
      </span>
    </div>
    <div class="form-wrapper">
      <button type="submit" class="button" [disabled]="employeeForm.invalid">
        Spremi
      </button>
    </div>
  </form>
</section>
