<header>
  <nav>
    <h1>Employee App</h1>
    <ul class="navigation">
      <li>
        <a
          routerLink=""
          [routerLinkActive]="['', 'active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li>
        <a
          routerLink="employee-form"
          [routerLinkActive]="['', 'active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          New employee
        </a>
      </li>
    </ul>
  </nav>
</header>
